@model IEnumerable<WebApplication1.Models.Price>

@{
    ViewData["Title"] = "Index";
}

<h1>Прайсы</h1>

<p>
    <a class = "table" asp-action="Create">Прайс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="IndexList" asp-route-id="@item.PriceId">@Html.DisplayFor(modelItem => item.PriceId)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriceId">Изменить прайс</a> |
                <a asp-action="Details" asp-route-id="@item.PriceId">Детали прайса</a> |
                <a asp-action="Delete" asp-route-id="@item.PriceId">Удалить прайс</a>
            </td>
        </tr>
}
    </tbody>
</table>
