@model WebApplication1.Models.Good

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление товара</h1>

<h3>Уверены, что хотите удалить данный товар?</h3>
<div>
    <h4>Good</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyIntCol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyIntCol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyStrCol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyStrCol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyTextCol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyTextCol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price.PriceId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GoodId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку товаров</a>
    </form>
</div>
