@model IEnumerable<WebApplication1.Models.Good>

@{
    ViewData["Title"] = "Index";
}

<h1>Список товаров</h1>

<p>
    <a asp-action="Create">Создать товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                № Товара @* @Html.DisplayNameFor(model => model.PriceId) @Html.DisplayNameFor(model => model.GoodId) *@
            </th>
            <th>
                Числовая колонка @* @Html.DisplayNameFor(model => model.MyIntCol) *@
            </th>
            <th>
                Строковая колонка @* @Html.DisplayNameFor(model => model.MyStrCol) *@
            </th>
            <th>
                Текстовая колонка @* @Html.DisplayNameFor(model => model.MyTextCol) *@
            </th>
            <th>
                № Прайса @* @Html.DisplayNameFor(model => model.Price) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyIntCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyStrCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyTextCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price.PriceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoodId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.GoodId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GoodId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
